.awesome-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.awesome-card {
  width: 350px;
  margin: 0 15px;
}

.awesome-card-img {
  border: solid 2px #d98943;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.awesome-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome-card-text p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

.awesome-card-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.awesome .title::after {
  background-color: #d98943;
}
