.awesome {
  padding: 80px 0 100px;
}

.awesome-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.awesome-card {
  width: 350px;
  margin: 0 15px;
}

.awesome-card-img {
  border: solid 2px #d98943;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome .fa-solid,
.awesome .fa-brands {
  font-size: 1.875rem;
  color: #d98943;
}

.awesome-card-text p {
  font-weight: normal;
  font-size: 0.875rem;
  text-align: center;
  color: #000000;
}

.awesome-card-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
  font-weight: 600;
  font-size: 1.25rem;
}
