.axure {
  background-image: url('../img/bg/bgAxure.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 60px 0 40px;
}

.axure .container {
  position: relative;
  z-index: 1;
}

.axure .title {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  z-index: 1;
}

.axure .title::after {
  background-color: #ffffff;
}

.axure .subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.axure::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
}

.download {
  display: block;
  margin: auto;
  width: 135px;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 11px 25px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.download:hover {
  background-color: #cac6c6;
  color: rgb(90, 88, 88);
}
