.contact {
  padding: 80px 0 45px;
}

.contact .subtitle {
  margin-bottom: 90px;
}

.contact-form-row-left {
  width: 40%;
  margin: 0 15px;
}

.contact-form-row-right {
  width: 40%;
  margin: 0 15px;
}

.contact-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px 70px;
}

.contact-form-row input {
  outline: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  color: #bdbdbd;
  width: 100%;
  font-size: 21px;
  display: block;
  padding: 0 3px;
}

.contact-form-row label {
  display: block;
}

.contact-form-row-left label {
  margin-bottom: 7px;
}

.send-message {
  margin: auto;
  display: block;
  width: 170px;
  height: 45px;
  background-color: #ec7979;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.send-message:hover {
  background-color: #4beb36;
  color: rgb(90, 88, 88);
}

.contact-form-row-right textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  color: #bdbdbd;
  width: 100%;
  resize: none;
  font-weight: normal;
  display: block;
  height: 198px;
  padding: 20px;
}

.contact-form-row-right textarea:hover {
  background-color: rgb(240, 235, 235);
}

.contact-form-row input:hover {
  background-color: rgb(240, 235, 235);
}

.contact-form-item__name input,
.contact-form-item__email input {
  margin-bottom: 32px;
}
