.features .container {
  padding-top: 125px;
  padding-bottom: 125px;
}

.features-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.feature-image img {
  width: 100%;
}

.feature-tab-list__item {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 110px;
  height: 110px;
  background: #333333;
  border-radius: 4px;
  margin-bottom: 10px;
}
