.firstscreen {
  background-image: url('../img/bg/bgFirstScreen.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 108px 0 101px;
}

.firstscreen::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
}

.firstscreen .container {
  position: relative;
  z-index: 1;
}

.firstscreen-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.firstscreen-title {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 35px;
  display: block;
}

.firstscreen-title::after {
  content: 'IT';
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 60px;
  color: #ec7979;
}

.firstscreen-subtitle {
  color: #ffffff;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 36px;
  text-transform: uppercase;
}

.firstscreen-row-left {
  width: 545px;
  margin: 0 15px;
}

.firstscreen-row-right {
  margin: 0 15px;
}

.firstscreen-subtitle::after {
  content: '';
  display: block;
  margin: 40px 0;
  width: 65px;
  height: 2px;
  background-color: #86878b;
}

.firstscreen-subtitle-subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #86878b;
  width: 60%;
  margin-bottom: 40px;
}

.firstscreen-download {
  display: block;
  width: 135px;
  background-color: transparent;
  border: 1px solid #86878b;
  padding: 11px 25px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.firstscreen-download:hover {
  background-color: #f0ecec;
  color: rgb(90, 88, 88);
}

.firstscreen-row-right {
  background: #ffffff;
  border-radius: 8px;
  width: 370px;
  overflow: hidden;
}

.firstscreen-form-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #333333;
  padding-bottom: 57px;
}

.firstscreen-form-title-first-part::after {
  content: ' FREE';
  color: #ec7979;
}

.firstscreen-row-form-content {
  padding: 15px 59px 81px;
}

.firstscreen-form-button {
  width: 100%;
  height: 55px;
  background-color: #ec7979;
  border: none;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}

.firstscreen-form-button:hover {
  background-color: #4beb36;
  color: rgb(90, 88, 88);
}

.firstscreen-row-form-content label {
  display: block;
}

.firstscreen-row-form-content input {
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  color: #bdbdbd;
  font-weight: normal;
  font-size: 16px;
  width: 100%;
}

.firstscreen-form-item__name,
.firstscreen-form-item__email {
  padding-bottom: 20px;
}

#userpassword:hover,
#username:hover,
#useremail:hover {
  background-color: rgb(240, 235, 235);
}
