footer {
  background-color: #000000;
  padding: 40px 0 16px;
}

.footer-text {
  width: 20%;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: auto;
}

footer .fa-brands {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  transition: 0.2s;
}

.footer-icons {
  padding-bottom: 8px;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
}

.footer-icons-list__item {
  margin: 0 15px;
}

footer .fa-brands:hover {
  transform: scale(1.4);
  cursor: pointer;
  color: white;
}
