header {
  background: #000000;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 5;
  padding: 20px 0 19px;
  padding-top: 20px;
  padding-bottom: 19px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -15px;
}

.logo-text {
  margin: 0 15px;
}

.logo-text-first-part {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: #ffffff;
}

.logo-text-first-part::after {
  content: 'IT';
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: #ec7979;
}

header .menu {
  width: 500px;
  margin: 0 15px;
}

header .menu-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

header .menu-list__item {
  margin-left: 45px;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: 0.2s;
}

header .menu-list__item:first-child {
  margin-left: 0;
}

header .menu-list__item a {
  font-weight: 600;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

header .menu-list__item:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.7);
}
