@import url('../css/awesome.css');
@import url('../css/cdn.css');
@import url('../css/pricing.css');
@import url('../css/customers.css');
@import url('../css/axure.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 100px 15px;
  margin: auto;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
  margin: auto;
}

.title::after {
  content: '';
  display: block;
  margin: 25px auto 30px;
  width: 65px;
  height: 1px;
  background-color: #e72424;
}

.subtitle {
  text-align: center;
  color: #86878b;
  font-size: 14px;
  font-weight: normal;
  width: 70%;
  margin: 0 auto 55px;
}

body {
  font-family: 'Open Sans', sans-serif;
}
