.pricing {
  background-color: #f5f5f5;
}

.pricing-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.pricing-card {
  width: 340px;
  margin: 0 15px;
}

.pricing-card-list__item {
  background-color: #ffffff;
  margin-bottom: 4px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #86878b;
}

.pricing-card-list__item:last-child {
  margin-bottom: 0;
}

.pricing-card-list__item__name {
  background: #333333;
  padding: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.pricing-card-list__item__cost {
  background: #333333;
  padding: 35px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
}

.pricing-card-list__item__free {
  background: #333333;
  padding: 13px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.pricing-card-list__item_color {
  background: #d98943;
}
