.social {
  background-color: #f8efef;
  padding: 14px 0 17px;
}

.social-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 -15px;
}

.social-title {
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  margin-bottom: 14px;
}

.social .text {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #86878b;
}

.social-icons-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.social-text {
  width: 370px;
  margin: 0 15px;
}

.social-icons {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.social-icons-list__item {
  margin-left: 50px;
}

.social-icons-list__item:first-child {
  margin-left: 0px;
}

.social .fa-brands {
  font-size: 40px;
  color: rgba(151, 148, 148, 0.322);
  transition: 0.2s;
  cursor: pointer;
}

.social .fa-brands:hover {
  color: rgba(44, 44, 44, 0.322);
  transform: scale(1.4);
  cursor: pointer;
}
